.movie-img {
    max-width: 200px;
    max-height: 356px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

.navbar-scroll {
    overflow-y: auto;
    max-height: 80vh;

}
/* Estilos para la barra de navegación */
.navbar {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 1rem; /* Espaciado interno */
}

.navbar-brand img {
    border-radius: 50%; 
    margin-right: 10px;
    width: 100px;
}

/* Estilos para los botones de filtro */
.filter-btn {
    margin-right: 5px; 
}

/* Estilos para el contenedor de imágenes */
#movieContainer {
    margin-top: 30px; 
}

/* Estilos para los elementos de la película */
.movie-item {
    text-align: center; 
}

.movie-img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}
.navbar-brand {
    float: left; 
}

.container-fluid {
    overflow: hidden; 
}

.container-fluid span {
    float: right; 
    margin-top: 20px; 
}
/* Estilo para el contenedor de la barra de navegación */
.container-fluid {
    display: flex; 
    align-items: center; 
}

/* Estilo para la imagen */
.navbar-brand img {
    margin-right: 10px; 
}

/* Estilo para el título */
.navbar-nav .nav-link {
    font-weight: bold;
    color: orange;
}

/* Estilos para el span del navbar */
.navbar-text {
    font-size: 1.5em; /* Ajusta el tamaño según tu preferencia */
    color: orange;
    font-weight: bold;
}

/* Estilos para los botones */
.filter-btn {
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 10px 20px; 
    border-radius: 25px; 
    background-color: #ff4500; 
    color: white; 
    border: none;
    transition: background-color 0.3s, color 0.3s; 
}

.filter-btn:hover {
    background-color: #ff8c00; 
    color: #fff; 
}
.filter-text {
    margin-right: 10px; 
    font-weight: bold; 
    font-weight: bold; 
    font-size: 24px; 
    font-family: 'Roboto', sans-serif; 
    color: black; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin-right: 10px; 
    border-bottom: 2px solid #ff4500; 
    padding-bottom: 2px;
}
footer {
    text-align: center; /* Centra el texto */
    font-style: italic; /* Estilo de fuente en cursiva */
    color: #666; /* Color de texto gris */
    font-size: 14px; /* Tamaño de fuente */
    margin-top: 20px; /* Espacio superior */
    padding: 10px 0; /* Espaciado interno */
    background-color: #f9f9f9; /* Color de fondo gris claro */
}

/* Custom CSS para perfil */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #f8f9fa;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: orange;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.20rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: orange;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}